//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================


$body-bg: #f8f8f8 !default;
$color-gray: #625f6e !default;
//$body-color: #19191a !default;
$placeholder-color: #CCCCCC !default;
$dropdown-icon-color: #6e6b7b !default;
$border-color: #CCCCCC !default;
$form-row-line: #eee !default;
$color-light-gray: #f0f0f0 !default;
$success-color: #28c76f !default;
// color

$color-light-blue: #1989fa !default;
$color-primary: #0e6fff !default;
$bg-active-menu: $color-light-gray;
$icon-menu: $color-gray;
$content-padding: .5rem !default;
$spacing-sides: 1 !default;
$table-toolbar-height: 3.15rem !default;
