.e-grid-custom td.e-active {
  background-color: rgb(235, 70, 25, 10%) !important;
  color: #0e6fff !important;
}

.e-grid-custom .e-numericcontainer .e-active {
  background-color: rgb(235, 70, 25, 10%) !important;
  color: #0e6fff !important;
  border-radius: 5px !important;
}